ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* if flex doesnt work on first UL */
/* ul {
    display: flex;
} */

a {
    text-decoration: none;
    color: aliceblue;
}

.spacer {
    flex: 1 1 auto;
}

.home-btn {
    transform: scale(1.5);
    padding-left: 10px;
    color: antiquewhite;
}
