<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- submitting a form triggers a SUBMIT form event where we can trigger the onSavePost method -->
    <form [formGroup]="form" (submit)="onSavePost()"  ngIf="!isLoading">
        <!-- postForm give us access to the object created by this form, and we pass that object to onSavePost -->
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            formControlName="title"
            placeholder="Post Title"
            >
            <mat-error *ngIf="form.get('title').invalid">Please enter a title for your post</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Select Image</button>
            <input type="file" #filePicker>
        </div>
        <mat-form-field>
            <textarea 
            matInput 
            rows="8" 
            formControlName="content"
            placeholder="Post Content"
            ></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please text for your content</mat-error>
        </mat-form-field>
        <button 
        mat-raised-button 
        color="primary" 
        type="submit">Save Post</button>
    </form>
</mat-card>